#!/bin/bash
#SBATCH --partition=short-serial
#SBATCH --job-name={}_kerchunk

#SBATCH --time={}
#SBATCH --mem={}

module add jaspy
source {}/bin/activate

export WORKDIR={}
export GROUPDIR={}

python {} {} $SLURM_ARRAY_TASK_ID -G {} -t {} -M {}