aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.12
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime_1636143381636/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asciitree==0.3.3
astral @ file:///home/conda/feedstock_root/build_artifacts/astral_1632623584855/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1655142257854/work
asttokens==2.2.1
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs==22.2.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
basemap @ file:///home/conda/feedstock_root/build_artifacts/basemap_1652460701944/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bigtiff==0.1.2
bleach==6.0.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1652969564789/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1658364121744/work
botocore==1.29.76
bottle @ file:///home/conda/feedstock_root/build_artifacts/bottle_1591809651423/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854167867/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.3.0
Cartopy==0.21.1
ccplot==2.1.1
cdsapi @ file:///home/conda/feedstock_root/build_artifacts/cdsapi_1612970655952/work
certifi==2022.12.7
cf-plot==3.1.23
cf-python==3.13.0
cf-units @ file:///home/conda/feedstock_root/build_artifacts/cf-units_1657644820896/work
cf-xarray @ file:///home/conda/feedstock_root/build_artifacts/cf_xarray_1657887163249/work
cfchecker==4.1.0
cfdm==1.9.0.4
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1656782834004/work
cftime==1.6.2
cfunits==3.3.4
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1656142046818/work
charset-normalizer==3.1.0
cis @ file:///home/conda/feedstock_root/build_artifacts/cis_1643041043950/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215151197/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle==2.2.1
cmocean==2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorcet==3.0.1
colorspacious==1.1.2
comm==0.1.3
configobj==5.0.6
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1638573090458/work
contourpy==1.0.7
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1657173997940/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1652809237949/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1657553432917/work
dask==2023.3.1
dask-gateway @ file:///D:/bld/dask-gateway_1655192376045/work/dask-gateway
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy==1.6.6
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
descartes==1.1.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1657828092311/work
distributed==2023.3.1
docopt==0.6.2
docutils==0.15.2
eccodes @ file:///home/conda/feedstock_root/build_artifacts/python-eccodes_1655141069633/work
eccodes-python==0.9.9
ecmwf-api-client==1.6.3
elastic-transport==8.4.0
elasticsearch==7.13.1
emcee @ file:///home/conda/feedstock_root/build_artifacts/emcee_1652224790394/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
eofs==1.4.0
esgf-pyclient @ file:///home/conda/feedstock_root/build_artifacts/esgf-pyclient_1646383938370/work
ESMPy==8.2.0
executing==1.2.0
f90nml==1.4.3
fasteners==0.18
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1658064924516/work/dist
fastprogress==1.0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1654070194245/work
findlibs @ file:///home/conda/feedstock_root/build_artifacts/findlibs_1637973289948/work
Fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1644293925058/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.5.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1649010148175/work
gcsfs==2023.5.0
GDAL==3.4.1
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1655828570365/work
glob2==0.7
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1641732907644/work
google-api-core==2.11.0
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
graphviz==0.20.1
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1648882383677/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1656332222007/work
h5py==3.8.0
HeapDict==1.0.1
holoviews==1.15.4
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1644593570376/work
hvplot==0.8.3
idna==3.4
ILAMB @ file:///home/conda/feedstock_root/build_artifacts/ilamb_1637604742257/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1645704978169/work
ImageHash @ file:///home/conda/feedstock_root/build_artifacts/imagehash_1626361020540/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1654071881944/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252803161/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1655356668708/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intake==0.6.8
intake-esm==2022.9.18
intake-xarray @ file:///home/conda/feedstock_root/build_artifacts/intake-xarray_1645220559365/work
ipykernel==6.22.0
ipython==8.11.0
iris-grib @ file:///home/conda/feedstock_root/build_artifacts/iris-grib_1647277683887/work
iris-sample-data @ file:///home/conda/feedstock_root/build_artifacts/iris-sample-data_1631889273712/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi==0.18.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1657629641118/work
Jug @ file:///home/conda/feedstock_root/build_artifacts/jug_1658206105193/work
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
kaitaistruct==0.8
kerchunk==0.1.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953096987/work
latexcodec @ file:///home/conda/feedstock_root/build_artifacts/latexcodec_1592937263153/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1649033164427/work
llvmlite==0.38.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4==4.3.2
Magics @ file:///home/conda/feedstock_root/build_artifacts/magics-python_1620740600470/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.6.1
MetPy==1.4.1
minio==7.1.14
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1635844663025/work
mo-pack==0.2.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1648992791171/work
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/mpi4py_1649057539620/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack==1.0.5
multidict==6.0.4
munch==2.5.0
munkres==1.1.4
MyProxyClient @ file:///home/conda/feedstock_root/build_artifacts/myproxyclient_1620045582027/work
nappy @ git+https://github.com/cedadev/nappy@327d4cbf05fd8a759bec11c4ed40ab204325c430
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1656688109017/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nc-time-axis @ file:///home/conda/feedstock_root/build_artifacts/nc-time-axis_1650472822477/work
nco==1.0.0
nest-asyncio==1.5.6
netcdf-flattener==1.2.0
netCDF4==1.6.3
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1658215017934/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1655473324812/work
numcodecs==0.11.0
numpy==1.22.0
oauthlib==3.2.2
oggm==1.5.3
packaging==23.0
pandas==1.5.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel==0.14.4
param==1.13.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.3.0
pathlib2 @ file:///home/conda/feedstock_root/build_artifacts/pathlib2_1649684023672/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
Pint==0.20.1
pipenv==2022.7.4
platformdirs==3.1.1
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1648772594861/work
pooch==1.7.0
progressbar2==4.0.0
prompt-toolkit==3.0.38
protobuf==4.23.1
psutil==5.9.4
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1640944506498/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
py-analysis==0.0.1
pyaml @ file:///home/conda/feedstock_root/build_artifacts/pyaml_1645030574202/work
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybtex @ file:///home/conda/feedstock_root/build_artifacts/pybtex_1636053099545/work
pycairo==1.21.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.5.0
pydantic==1.10.6
pydap @ file:///home/conda/feedstock_root/build_artifacts/pydap_1643743389186/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
pygeode==1.4.1
Pygments==2.14.0
PyGObject==3.42.2
pygrib @ file:///home/conda/feedstock_root/build_artifacts/pygrib_1650641413733/work
pyhdf @ file:///home/conda/feedstock_root/build_artifacts/pyhdf_1652097290748/work
pyke @ file:///home/conda/feedstock_root/build_artifacts/pyke_1605710175691/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1658157521144/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyPdf==1.13
PyPDF2==2.11.1
pypdftk==0.5
pyproj==3.5.0
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1649013351988/work
pyshp==2.3.1
PySide2==5.13.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264958/work
pyspharm==1.0.9
pystac==1.6.1
pytest==7.1.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-hdf4==0.9.2
python-utils==3.3.3
pytz==2022.7.1
pyugrid==0.3.1
pyviz-comms==2.2.1
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1649616405488/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757090803/work
pyzmq==25.0.2
requests==2.28.2
requests-cache==0.4.13
requests-oauthlib==1.3.1
rsa==4.9
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1649367610645/work
s3fs==2023.5.0
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1654039987929/work
scandir @ file:///home/conda/feedstock_root/build_artifacts/scandir_1649431832782/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1655254001151/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1652976692230/work
scipy==1.10.1
scitools-iris @ file:///home/conda/feedstock_root/build_artifacts/iris_1647021777534/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Shapely==1.7.0
shiboken2==5.13.2
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1649013519845/work
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
sparse @ file:///home/conda/feedstock_root/build_artifacts/sparse_1630177719379/work
spectral @ file:///home/conda/feedstock_root/build_artifacts/spectral_1643398773488/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1655452194084/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1656115934245/work
stack-data==0.6.2
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1654787107327/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1647802543069/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1651666912743/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1657178191936/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
ujson==5.7.0
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111910890/work
urllib3==1.25.11
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1656499803976/work
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
WebOb @ file:///home/conda/feedstock_root/build_artifacts/webob_1616868127778/work
windspharm @ file:///home/conda/feedstock_root/build_artifacts/windspharm_1636383477299/work
wrapt==1.15.0
wxPython==4.1.1
xarray==2023.2.0
xesmf @ file:///home/conda/feedstock_root/build_artifacts/xesmf_1656607256724/work
xgcm @ file:///home/conda/feedstock_root/build_artifacts/xgcm_1655288372060/work
xhistogram @ file:///home/conda/feedstock_root/build_artifacts/xhistogram_1638579748027/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1649442408890/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1655861233352/work
yarl==1.8.2
zarr==2.14.2
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
zstandard==0.20.0
zstd==1.5.4.1
