#!/bin/bash
#SBATCH --partition=short-serial-4hr
#SBATCH --account=short4hr
#SBATCH --job-name={}

#SBATCH --time={}
#SBATCH --mem=2G

#SBATCH -o {}
#SBATCH -e {}

module add jaspy
source {}/bin/activate

export WORKDIR={}
export GROUPDIR={}

python {} {} $SLURM_ARRAY_TASK_ID -G {} -t {}